.MainTableContainer {
    padding: 40px 60px;
}


/* .MuiTableHead-root	{
    background-color: #D0D0D0;
} */

/* .css-i02g0k-MuiTableCell-root {
    background-color: #D0D0D0;
}
.css-y8ay40-MuiTableCell-root {
    background-color: #D0D0D0;
}

.css-dwuj3p-MuiTableCell-root {
    background-color: #D0D0D0;
} */